<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{BBF8A5A4-842A-437F-8664-80E142E49C23}" Name="StreamSplitter" Language="1033" Version="!(bind.FileVersion.StreamSplitter.exe)" Manufacturer="Grid Protection Alliance" UpgradeCode="7E475E71-0956-4FB9-81A7-543C3D8A4C21">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="StreamSplitter" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!-- User Interface -->
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\StreamSplitterSetupBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\StreamSplitterSetupDialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\INSTALL_LICENSE.rtf" />

    <Icon Id="StreamSplitterConsole.ico.exe" SourceFile="$(var.StreamSplitterConsole.TargetPath)" />
    <Icon Id="StreamSplitterManager.ico.exe" SourceFile="$(var.StreamSplitterManager.TargetPath)" />

    <!-- Custom Actions -->
    <Property Id="SERVICENAME" Value="$(var.StreamSplitter.TargetName)" />
    <Binary Id="InstallerActions" SourceFile="$(var.SolutionDir)\Dependencies\GSF\GSF.InstallerActions.CA.dll" />
    <CustomAction Id="ConfigureServiceAction.SetProperty" Property="ConfigureServiceAction" Value="SERVICENAME=[SERVICENAME]" />
    <CustomAction Id="ConfigureServiceAction" BinaryKey="InstallerActions" DllEntry="ConfigureServiceAction" Execute="deferred" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="ConfigureServiceAction.SetProperty" After="InstallServices">NOT REMOVE</Custom>
      <Custom Action="ConfigureServiceAction" After="ConfigureServiceAction.SetProperty">NOT REMOVE</Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform) = x64 ?>
        <Directory Id="ProgramFiles64Folder">
          <!-- C:\Program Files\StreamSplitter -->
          <Directory Id="INSTALLFOLDER" Name="SynchrophasorStreamSplitter" />
        </Directory>
      <?else ?>
        <Directory Id="ProgramFilesFolder">
          <!-- C:\Program Files (x86)\StreamSplitter -->
          <Directory Id="INSTALLFOLDER" Name="SynchrophasorStreamSplitter" />
        </Directory>
      <?endif ?>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Synchrophasor Stream Splitter" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Applications -->
      <Component Id="StreamSplitter">
        <File Id="StreamSplitter.exe" Name="$(var.StreamSplitter.TargetFileName)" Source="$(var.StreamSplitter.TargetPath)" />
        <ServiceInstall Id="StreamSplitterService" Name="[SERVICENAME]" Type="ownProcess" Start="auto" ErrorControl="normal" Description="Service for redistributing synchrophasor data streams." />
        <ServiceControl Id="StreamSplitterServiceControl" Name="[SERVICENAME]" Start="install" Stop="both" Remove="uninstall" />
      </Component>
      <Component Id="StreamSplitterConsole">
        <File Id="StreamSplitterConsole.exe" Name="$(var.StreamSplitterConsole.TargetFileName)" Source="$(var.StreamSplitterConsole.TargetPath)" />
        <Shortcut Id="StreamSplitterConsoleStartMenuShortcut" Name="StreamSplitter Console" Icon="StreamSplitterConsole.ico.exe" Description="Console client for the StreamSplitter service." WorkingDirectory="INSTALLFOLDER" Directory="ApplicationProgramsFolder" Advertise="yes" />
      </Component>
      <Component Id="StreamSplitterManager">
        <File Id="StreamSplitterManager.exe" Name="$(var.StreamSplitterManager.TargetFileName)" Source="$(var.StreamSplitterManager.TargetPath)" />
        <Shortcut Id="StreamSplitterManagerStartMenuShortcut" Name="StreamSplitter Manager" Icon="StreamSplitterManager.ico.exe" Description="Manager application for the StreamSplitter service." WorkingDirectory="INSTALLFOLDER" Directory="ApplicationProgramsFolder" Advertise="yes" />
      </Component>
      <Component Id="StreamSplitterConfig">
        <File Id="StreamSplitter.exe.config" Name="$(var.StreamSplitter.TargetFileName).config" Source="$(var.StreamSplitter.TargetPath).config" />
      </Component>
      <Component Id="StreamSplitterConsoleConfig">
        <File Id="StreamSplitterConsole.exe.config" Name="$(var.StreamSplitterConsole.TargetFileName).config" Source="$(var.StreamSplitterConsole.TargetPath).config" />
      </Component>
      <Component Id="StreamSplitterManagerConfig">
        <File Id="StreamSplitterManager.exe.config" Name="$(var.StreamSplitterManager.TargetFileName).config" Source="$(var.StreamSplitterManager.TargetPath).config" />
      </Component>

      <!-- Libraries -->
      <Component Id="ProxyConnection">
        <File Id="ProxyConnection.dll" Name="$(var.ProxyConnection.TargetFileName)" Source="$(var.ProxyConnection.TargetPath)" />
      </Component>
      
      <!-- DotNetZip Dependencies -->
      <Component Id="Ionic.Zlib">
        <File Id="Ionic.Zlib.dll" Name="Ionic.Zlib.dll" Source="$(var.SolutionDir)\Dependencies\DotNetZip\Ionic.Zlib.dll" />
      </Component>

      <!-- GSF Dependencies -->
      <Component Id="GSF.Communication">
        <File Id="GSF.Communication.dll" Name="GSF.Communication.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Communication.dll" />
      </Component>
      <Component Id="GSF.Core">
        <File Id="GSF.Core.dll" Name="GSF.Core.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Core.dll" />
      </Component>
      <Component Id="GSF.PhasorProtocols">
        <File Id="GSF.PhasorProtocols.dll" Name="GSF.PhasorProtocols.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.PhasorProtocols.dll" />
      </Component>
      <Component Id="GSF.Security">
        <File Id="GSF.Security.dll" Name="GSF.Security.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Security.dll" />
      </Component>
      <Component Id="GSF.ServiceBus">
        <File Id="GSF.ServiceBus.dll" Name="GSF.ServiceBus.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.ServiceBus.dll" />
      </Component>
      <Component Id="GSF.ServiceModel">
        <File Id="GSF.ServiceModel.dll" Name="GSF.ServiceModel.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.ServiceModel.dll" />
      </Component>
      <Component Id="GSF.ServiceProcess">
        <File Id="GSF.ServiceProcess.dll" Name="GSF.ServiceProcess.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.ServiceProcess.dll" />
      </Component>
      <Component Id="GSF.TimeSeries">
        <File Id="GSF.TimeSeries.dll" Name="GSF.TimeSeries.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.TimeSeries.dll" />
      </Component>
      <Component Id="GSF.Windows">
        <File Id="GSF.Windows.dll" Name="GSF.Windows.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Windows.dll" />
      </Component>

      <!-- Cleanup -->
      <Component Id="Cleanup" Guid="{E4A3FC2E-4D4C-4A9B-A1D5-1B95BBC33E90}">
        <CreateFolder />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>