<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="StreamSplitter" Language="1033" Version="!(bind.FileVersion.StreamSplitter.exe)" Manufacturer="Grid Protection Alliance" UpgradeCode="7E475E71-0956-4FB9-81A7-543C3D8A4C21">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED"/>

    <Condition Message='This setup requires Microsoft .NET Framework 4.6 or greater - this will need to be installed before installation can continue.'>
      <![CDATA[WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED]]>
    </Condition>

    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="AllProducts" Title="All Products" Level="1" Display="expand" ConfigurableDirectory="INSTALLFOLDER" Description="All Synchrophasor Stream Splitter Components">
      <Feature Id="StreamSplitterFeature" Title="Stream Splitter Service" Description="Synchrophasor Stream Splitter Service Application">
        <ComponentRef Id="StreamSplitter" />
        <ComponentRef Id="StreamSplitterConfig" />
      </Feature>

      <Feature Id="StreamSplitterToolsFeature" Title="Stream Splitter Tools" Description="Synchrophasor Stream Splitter Tools">
        <Feature Id="StreamSplitterManagerFeature" Title="Manager" Description="Synchrophasor Stream Splitter Management Tool">
          <ComponentRef Id="StreamSplitterManager" />
          <ComponentRef Id="StreamSplitterManagerConfig" />
        </Feature>
        <Feature Id="StreamSplitterConsoleFeature" Title="Console" Description="Synchrophasor Stream Splitter Remote Console Tool">
          <ComponentRef Id="StreamSplitterConsole" />
          <ComponentRef Id="StreamSplitterConsoleConfig" />
        </Feature>
      </Feature>

      <ComponentGroupRef Id="Dependencies" />
      <ComponentRef Id="Cleanup" />
    </Feature>

    <!-- User Interface -->
    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\StreamSplitterSetupBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\StreamSplitterSetupDialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\INSTALL_LICENSE.rtf" />

    <Icon Id="StreamSplitter.ico.exe" SourceFile="$(var.StreamSplitter.TargetPath)" />
    <Icon Id="StreamSplitterConsole.ico.exe" SourceFile="$(var.StreamSplitterConsole.TargetPath)" />
    <Icon Id="StreamSplitterManager.ico.exe" SourceFile="$(var.StreamSplitterManager.TargetPath)" />

    <!-- Add/Remove Programs Icon -->
    <Property Id="ARPPRODUCTICON" Value="StreamSplitter.ico.exe" />

    <!-- Define Variables Related to .s3config File Association -->
    <?define ApplicationName = "Synchrophasor Stream Splitter" ?>
    <?define ApplicationDescription = "Synchrophasor Stream Splitter Management Tool" ?>
    <?define S3ConfigDescription = "Synchrophasor Stream Splitter Configuration File" ?>
    <?define S3ConfigExplorerMenu = "Edit with Stream Splitter Manager" ?>

    <!-- Custom Actions -->
    <Property Id="SERVICENAME" Value="$(var.StreamSplitter.TargetName)" />
    <Binary Id="InstallerActions" SourceFile="$(var.SolutionDir)\Dependencies\GSF\GSF.InstallerActions.CA.dll" />
    <CustomAction Id="ConfigureServiceAction.SetProperty" Property="ConfigureServiceAction" Value="SERVICENAME=[SERVICENAME]" />
    <CustomAction Id="ConfigureServiceAction" BinaryKey="InstallerActions" DllEntry="ConfigureServiceAction" Execute="deferred" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="ConfigureServiceAction.SetProperty" After="InstallServices">NOT REMOVE</Custom>
      <Custom Action="ConfigureServiceAction" After="ConfigureServiceAction.SetProperty">NOT REMOVE</Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform) = x64 ?>
        <Directory Id="ProgramFiles64Folder">
          <!-- C:\Program Files\StreamSplitter -->
          <Directory Id="INSTALLFOLDER" Name="SynchrophasorStreamSplitter" />
        </Directory>
      <?else ?>
        <Directory Id="ProgramFilesFolder">
          <!-- C:\Program Files (x86)\StreamSplitter -->
          <Directory Id="INSTALLFOLDER" Name="SynchrophasorStreamSplitter" />
        </Directory>
      <?endif ?>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Synchrophasor Stream Splitter" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Applications -->
      <Component Id="StreamSplitter">
        <File Id="StreamSplitter.exe" Name="$(var.StreamSplitter.TargetFileName)" Source="$(var.StreamSplitter.TargetPath)" />
        <ServiceInstall Id="StreamSplitterService" Name="[SERVICENAME]" Type="ownProcess" Start="auto" ErrorControl="normal" Description="Service for redistributing synchrophasor data streams." />
        <ServiceControl Id="StreamSplitterServiceControl" Name="[SERVICENAME]" Start="install" Stop="both" Remove="uninstall" />
      </Component>
      <Component Id="StreamSplitterConsole">
        <File Id="StreamSplitterConsole.exe" Name="$(var.StreamSplitterConsole.TargetFileName)" Source="$(var.StreamSplitterConsole.TargetPath)" />
        <Shortcut Id="StreamSplitterConsoleStartMenuShortcut" Name="StreamSplitter Console" Icon="StreamSplitterConsole.ico.exe" Description="Console client for the StreamSplitter service." WorkingDirectory="INSTALLFOLDER" Directory="ApplicationProgramsFolder" Advertise="yes" />
      </Component>
      <Component Id="StreamSplitterManager">
        <File Id="StreamSplitterManager.exe" Name="$(var.StreamSplitterManager.TargetFileName)" Source="$(var.StreamSplitterManager.TargetPath)" />
        <Shortcut Id="StreamSplitterManagerStartMenuShortcut" Name="StreamSplitter Manager" Icon="StreamSplitterManager.ico.exe" Description="Manager application for the StreamSplitter service." WorkingDirectory="INSTALLFOLDER" Directory="ApplicationProgramsFolder" Advertise="yes" />

        <!-- Capabilities keys for Vista/7/8 "Set Program Access and Defaults" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\StreamSplitter\Capabilities" Name="ApplicationDescription" Value="$(var.ApplicationDescription)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\StreamSplitter\Capabilities" Name="ApplicationIcon" Value="[APPLICATIONFOLDER]StreamSplitterManager.exe,0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\StreamSplitter\Capabilities" Name="ApplicationName" Value="$(var.ApplicationName)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\StreamSplitter\Capabilities\DefaultIcon" Value="[APPLICATIONFOLDER]StreamSplitterManager.exe,0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\StreamSplitter\Capabilities\FileAssociations" Name=".s3config" Value="StreamSplitter.Document" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\StreamSplitter\Capabilities\MIMEAssociations" Name="application/s3config" Value="StreamSplitter.Document" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\StreamSplitter\Capabilities\shell\Open\command" Value="&quot;[APPLICATIONFOLDER]StreamSplitterManager.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="StreamSplitter" Value="SOFTWARE\StreamSplitter\Capabilities" Type="string" />

        <!-- App Paths to support Start,Run -> "StreamSplitterManager" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\StreamSplitterManager.exe" Value="[!StreamSplitterManager.exe]" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\StreamSplitterManager.exe" Name="Path" Value="[APPLICATIONFOLDER]" Type="string" />

        <!-- Extend to the "open with" list + Win7 jump menu pinning  -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\StreamSplitterManager.exe\SupportedTypes" Name=".s3config" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\StreamSplitterManager.exe\shell\open" Name="FriendlyAppName" Value="$(var.ApplicationName)" Type="string" />

        <!-- StreamSplitter.Document ProgID -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\StreamSplitter.Document" Name="FriendlyTypeName" Value="$(var.S3ConfigDescription)" Type="string" />
        <ProgId Id="StreamSplitter.Document" Description="$(var.S3ConfigDescription)" Icon="StreamSplitterManager.ico.exe" Advertise="yes">
          <Extension Id="s3config">
            <Verb Id="open" Command="$(var.S3ConfigExplorerMenu)" Argument="&quot;%1&quot;" />
            <MIME Advertise="yes" ContentType="application/s3config" Default="yes" />
          </Extension>
        </ProgId>

        <!-- Optional: add an 'Edit with S3Config' to 'right click' even when not associated -->
        <!-- RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.s3config\shell\edit.StreamSplitterManager.exe" Value="$(var.S3ConfigExplorerMenu)" Type="string" / -->
        <!-- RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.s3config\shell\edit.StreamSplitterManager.exe\command" Value="&quot;[APPLICATIONFOLDER]StreamSplitterManager.exe&quot; &quot;%1&quot;" Type="string" / -->
      </Component>
      <Component Id="StreamSplitterConfig">
        <File Id="StreamSplitter.exe.config" Name="$(var.StreamSplitter.TargetFileName).config" Source="$(var.StreamSplitter.TargetPath).config" />
      </Component>
      <Component Id="StreamSplitterConsoleConfig">
        <File Id="StreamSplitterConsole.exe.config" Name="$(var.StreamSplitterConsole.TargetFileName).config" Source="$(var.StreamSplitterConsole.TargetPath).config" />
      </Component>
      <Component Id="StreamSplitterManagerConfig">
        <File Id="StreamSplitterManager.exe.config" Name="$(var.StreamSplitterManager.TargetFileName).config" Source="$(var.StreamSplitterManager.TargetPath).config" />
      </Component>

      <!-- Cleanup -->
      <Component Id="Cleanup" Guid="{E4A3FC2E-4D4C-4A9B-A1D5-1B95BBC33E90}">
        <CreateFolder />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Dependencies" Directory="INSTALLFOLDER">
      <!-- Libraries -->
      <Component Id="StreamSplitterLibrary">
        <File Id="StreamSplitterLibrary.dll" Name="$(var.StreamSplitterLibrary.TargetFileName)" Source="$(var.StreamSplitterLibrary.TargetPath)" />
      </Component>

      <!-- DotNetZip Dependencies -->
      <Component Id="Ionic.Zlib">
        <File Id="Ionic.Zlib.dll" Name="Ionic.Zlib.dll" Source="$(var.SolutionDir)\Dependencies\DotNetZip\Ionic.Zlib.dll" />
      </Component>

      <!-- GSF Dependencies -->
      <Component Id="GSF.Communication">
        <File Id="GSF.Communication.dll" Name="GSF.Communication.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Communication.dll" />
      </Component>
      <Component Id="GSF.Core">
        <File Id="GSF.Core.dll" Name="GSF.Core.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Core.dll" />
      </Component>
      <Component Id="GSF.PhasorProtocols">
        <File Id="GSF.PhasorProtocols.dll" Name="GSF.PhasorProtocols.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.PhasorProtocols.dll" />
      </Component>
      <Component Id="GSF.Security">
        <File Id="GSF.Security.dll" Name="GSF.Security.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Security.dll" />
      </Component>
      <Component Id="GSF.ServiceBus">
        <File Id="GSF.ServiceBus.dll" Name="GSF.ServiceBus.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.ServiceBus.dll" />
      </Component>
      <Component Id="GSF.ServiceModel">
        <File Id="GSF.ServiceModel.dll" Name="GSF.ServiceModel.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.ServiceModel.dll" />
      </Component>
      <Component Id="GSF.ServiceProcess">
        <File Id="GSF.ServiceProcess.dll" Name="GSF.ServiceProcess.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.ServiceProcess.dll" />
      </Component>
      <Component Id="GSF.TimeSeries">
        <File Id="GSF.TimeSeries.dll" Name="GSF.TimeSeries.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.TimeSeries.dll" />
      </Component>
      <Component Id="GSF.Windows">
        <File Id="GSF.Windows.dll" Name="GSF.Windows.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Windows.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>